body {
  background-color: rgb(233, 235, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.for-new-item {
  height: fit-content;
  width: 500px;
  background-color: #ffffff;
  border-radius: 15px;
  background: linear-gradient(to top left, #0d6efd, 2%, white);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}



.pop-up{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: fit-content;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    text-align: center;
    padding: 20px;
    gap: 2rem;
    border:1px solid #0d6efd;
    border-radius: 20px;
}